.card-container {
    display: flex;
    flex-wrap: wrap;
}

.music-card {
    width: 234px;
    padding: 30px 0;
    border: 1px solid black;
    color: $fontColor;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 20px;
    border-radius: 15px;
    box-shadow: inset 5px 5px 5px rgba(0,0,0,0.2);
    img {
        width: 150px;
    }
    .album {
        margin: 10px 0;
        text-align: center;
    }
}
